* {
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; // 1rem = 10px( 10/16);
}

body {
	color: #fafafa;

	a {
		text-decoration: none;
		color: inherit;
	}

	li {
		list-style: none;
	}
}
